@import "node_modules/azure-devops-ui/Core/_platformCommon.scss";

#datasources-root, .datasources-container {
    height: 100%;
    width: 100%;
    display: flex;
}

.error-message,.result-status {
    align-self: stretch;
}

.datasource-content{
    padding:  0 32px 0px 32px;
    align-self: stretch;
    > :not(:first-child) {
        margin-top: $spacing-16;
    }
}

.result-content {
    padding:  16px 32px 0px 32px;
    align-self: stretch;
    > :not(:first-child) {
        margin-top: $spacing-16;
    }
} 

.datasource-detail,.datasource-parameters {
    > :not(:first-child) {
        margin-top: $spacing-16;
    }
}

.datasource-dropdown-header,.datasource-details-header,.datasource-parameters-header,.datasource-result-header {
    padding-left: 0px;
    padding-right: 0px;
}
