#container {
  overflow: hidden;
  color: white;
  opacity: .99;
}
#root {
  color: white !important;
}
.widget.clickable > a {
  color: white !important;
}
#buildDefinitionDropDown {
  width: 100%;
}
.no-builds {
  background-color: gray;
  pointer-events: none;
}
.no-releases {
  background-color: gray;
  pointer-events: none;
}
.success {
  background-color: green;
}
.partial {
  background-color: #cf7417;
}
.fail {
  background-color: darkred;
}
.building {
  background-color: royalblue;
}
.not-started {
  background-color: purple;
}
.imageContainer {
  background-size: 41.75px 41.75px;
  width: 41.75px;
  height: 41.75px;
  content: "";
  margin-right: 2.77777778%;
  margin-left: 2.77777778%;
  float: left;
}
div .counter {
  float: left;
  width: 33%;
  line-height: 83.5px;
}
div .counter-pass {
  float: left;
  width: 33%;
  line-height: 83.5px;
}
div .counter-pass:before {
  background-image: url('../img/check.gif');
  background-size: 41.75px 41.75px;
  width: 41.75px;
  height: 41.75px;
  content: "";
  margin-right: 2.77777778%;
  margin-left: 2.77777778%;
  float: left;
}
div .counter-fail {
  float: left;
  width: 33%;
  line-height: 83.5px;
}
div .counter-fail:before {
  background-image: url('../img/cross.gif');
  background-size: 41.75px 41.75px;
  width: 41.75px;
  height: 41.75px;
  content: "";
  margin-right: 2.77777778%;
  margin-left: 2.77777778%;
  float: left;
}
div .counter-inprogress {
  float: left;
  width: 33%;
  line-height: 83.5px;
}
div .counter-inprogress:before {
  background-image: url('../img/refresh.gif');
  background-size: 41.75px 41.75px;
  width: 41.75px;
  height: 41.75px;
  content: "";
  margin-right: 2.77777778%;
  margin-left: 2.77777778%;
  float: left;
}
.details {
  padding: 10px;
  color: white !important;
}
.build-status-row {
  height: 90px;
}
.build-status {
  width: 80px;
  height: 70px;
  margin-top: 10px;
  background-repeat: no-repeat;
  background-size: 60px 60px;
  float: left;
}
.release-status-row {
  height: 90px;
}
.release-status {
  width: 80px;
  height: 70px;
  margin-top: 10px;
  background-repeat: no-repeat;
  background-size: 60px 60px;
  float: left;
}
.build-status-succeeded {
  background-image: url('../img/check.gif');
}
.build-status-building {
  background-image: url('../img/refresh.gif');
}
.build-status-not-started {
  background-image: url('../img/refresh.gif');
}
.build-status-failed {
  background-image: url('../img/cross.gif');
}
.build-definition-name-success:after {
  background-color: green !important;
}
.build-definition-name-failed:after {
  background-color: darkred !important;
}
.build-definition-name-building:after {
  background-color: royalblue !important;
}
.build-definition-name-not-started:after {
  background-color: purple !important;
}
.build-definition-name {
  font-size: calc(7vw);
  word-break: break-all;
}
.release-definition-name {
  font-size: calc(7vw);
  word-break: break-all;
}
.build-version-label {
  width: 90px;
  display: inline-block;
  overflow: hidden;
}
.build-version {
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 190px;
  white-space: nowrap;
}
.release-name-label {
  width: 90px;
  display: inline-block;
  overflow: hidden;
}
.release-name {
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 190px;
  white-space: nowrap;
}
.release-description-label {
  width: 90px;
  display: inline-block;
  overflow: hidden;
}
.release-description {
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 280px;
  white-space: nowrap;
}
.release-createdby-label {
  width: 90px;
  display: inline-block;
  overflow: hidden;
}
.release-createdby {
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 190px;
  white-space: nowrap;
}
.build-queuedby-label {
  width: 90px;
  display: inline-block;
  overflow: hidden;
}
.build-queuedby {
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 190px;
  white-space: nowrap;
}
.build-completed-label {
  width: 90px;
  display: inline-block;
  overflow: hidden;
}
.build-completed {
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 190px;
  white-space: nowrap;
}
.fill-space {
  font-size: calc(7vw);
}
.reallySmall-text {
  font-size: 12px;
}
