.edit-parameters-grid {
    width: 100%;
}

.edit-parameters-grid td {
    padding: 2px;
    margin: 0;
    color: <#=styles["subduedHeaderColor"]#>;
    text-align: left;
    font-weight: bold;
}

.edit-parameters-grid input[type='text']::-ms-clear {
    display: none;
}

.edit-parameters-grid input[type='text'] {
    border: 1px solid <#=styles["subtleBorderColor"]#>;
    padding: 2px;
    width: 100%;
}

.edit-parameters-grid td.name {
    width: 35%;
}

.edit-parameters-grid td.value {
    width: 60%;
}

.edit-parameters-grid input[type='text'].invalid-indicator {
    border: 1px solid <#=styles["veryStrongErrorColor"]#>;
}

.edit-parameters-grid td.add-button{
    padding-top: 4px;
}
