// To run tests locally updated the file, remove this line and rename to test.config.json
{
    "dropLocation": "/Users/Omesh/Documents/drop",
    "jenkins": {
        "username": "",
        "password": ""
    },
    "teamcity": {
        "username": "",
        "password": ""
    },
    "vsts": {
        "pat": ""
    }
}