# This Yaml Document has been converted by ESAI Yaml Pipeline Conversion Tool.
# This pipeline will be extended to the OneESPT template

resources:
  repositories:
  - repository: 1ESPipelineTemplates
    type: git
    name: 1ESPipelineTemplates/1ESPipelineTemplates
    ref: refs/tags/release
extends:
  template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
  parameters:
    settings:
      skipBuildTagsForGitHubPullRequests: true
    featureFlags:
        autoBaseline: false
    sdl:
      baseline:
        baselineSet: default
        baselineFile: $(Build.SourcesDirectory)/.gdn/.gdnbaselines
    pool:
      name: 1ESPtTfsAgentBuildPool1
      os: windows
    customBuildTags:
    - ES365AIMigrationTooling
    stages:
    - stage: stage
      jobs:
      - job: job
        steps:
        - powershell: |
            function IsExempted
            {
                param(
                    [string] $fileName
                )

                $exceptions = @(
                  "*.gif",
                  "*.svg",
                  "*.png",
                  "*.dll",
                  "*.npmrc",
                  "*package-lock.json",
                  "*\extensions\artifactengine\providers\typed-rest-client\httpclient.ts",
                  "*\extensions\artifactengine\providers\typed-rest-client\util.ts",
                  "*\extensions\bitbucket\src\tasks\downloadartifactsbitbucket\downloadbitbucket.js",
                  "*\extensions\externaltfs\src\tasks\downloadartifactstfsgit\downloadtfgit.js"
                )

                @($exceptions | ? { $fileName -ilike $_ }).Count -gt 0
            }
            Write-Host "Ensure there are no dev.azure.com and url.parse strings in the code."
            @("$(Build.Repository.LocalPath)\Extensions", "$(Build.Repository.LocalPath)\ServerTaskHelper", "$(Build.Repository.LocalPath)\TaskModules") | % {
                dir $_ -rec | % {
                    if ($_.Attributes -eq "Directory") {
                        return
                    }
                    $lowerCaseFullPath = $_.FullName.ToLower()
                    if(IsExempted $lowerCaseFullPath)
                    {
                        return
                    }
                    Write-Host $lowerCaseFullPath
                    $text = Get-Content $lowerCaseFullPath | Out-String
                    $match = ($text | Select-String -Pattern "\s*dev\.azure\.com*").Matches
                    if($match.Count -gt 0)
                    {
                        Write-Error "Found dev.azure.com in $lowerCaseFullPath. You should not be hard coding dev.azure.com in the code."
                    }
                    $match = ($text | Select-String -Pattern "\s*url\.parse*").Matches
                    if($match.Count -gt 0)
                    {
                        Write-Error "Found url.parse in $lowerCaseFullPath. You should not be using url.parse in the code."
                    }
                }
            }
          errorActionPreference: continue
          failOnStderr: true
          displayName: 'Code Checks'
        - task: NodeTool@0
          displayName: 'Use Node v24'
          inputs:
            versionSpec: 24.*
        - powershell: 'node getUpdatedPaths.js'
          displayName: 'PowerShell Script'
        - task: Npm@1
          displayName: 'npm install'
          inputs:
            verbose: false
        - task: gulp@0
          displayName: 'gulp build'
          inputs:
            targets: build
        - task: gulp@0
          displayName: Install tasks dependencies from package.json files
          inputs:
            targets: syncTasksPackageJsonFiles
        - powershell: |
            $changedPackageLockFiles = git diff --name-only Extensions/*/Src/Tasks/*/package-lock.json
            if ($changedPackageLockFiles.Count -gt 0) {
              Write-Error "package-lock.json files are out of sync:`n$changedPackageLockFiles`n`nPlease run 'gulp syncTasksPackageJsonFiles' and commit the changes."
              exit 1
            }
          displayName: Check package-lock.json files are in sync
        - task: gulp@0
          displayName: 'gulp test'
          inputs:
            targets: test
            arguments: '--suite=ArtifactEngine'
          condition: or(contains(variables['UPDATEDAREAPATHS'], 'ArtifactEngine'),contains(variables['UPDATEDAREAPATHS'], 'package.json'))