@import "node_modules/azure-devops-ui/Core/_platformCommon.scss";

#root {
    height: 100%;
    width: 100%;
    display: flex;
}

.sample-hub {
    font-size: $fontSizeM;
}

.sample-hub-section {
    margin-top: 20px;
}

.sample-picker {
    margin-left: 8px;
}

.btn-cta{
    background-color: rgba(0, 120, 212, 1);
    background-color: var(--communication-background,rgba(0, 120, 212, 1));
    border-color: rgba(0, 120, 212, 1);
    border-color: var(--communication-background,rgba(0, 120, 212, 1));
    color: rgba( 255, 255, 255 , 1 );
    color: rgba( var(--palette-neutral-0,255, 255, 255) , 1 );
    outline: 0;
}

.field_ace0e265 {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
    font-size: 14px;
    border-radius: 0;
    border: none;
    background: none;
    background-color: transparent;
    color: rgba(51, 51, 51, 1);
    padding: 0 12px 0 12px;
    width: 100%;
    min-width: 0;
    text-overflow: ellipsis;
    outline: 0;
}
.containerStyle{ 
    height: 100%; 
    width: 100%;
    display: "flex" 
}

.padding-element{
    padding:  0 32px 0px 32px
}

.top-padding-element{
    padding:  16px 32px 0px 32px
} 

.fieldGroup_ace0e265 {
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
    -webkit-box-shadow: none; 
    box-shadow: none; 
    margin: 0; 
    padding: 0;
    border: 1px solid rgba(166, 166, 166, 1);
    background: rgba(255, 255, 255, 1);
    height: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    position: relative;
}